<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/trivendrakumar/Desktop/All_Java_Projects/Selenium For Beginners/src/test/java/com/herokuapp/theinternet/PositiveTests.java"><classes><class name="com.herokuapp.theinternet.PositiveTests"><methods><include name="loginTest"/></methods></class></classes></test></suite>